*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

build/

.navigation
captures/
output.json

obj/

bin/
gen/

*.dex
*.class

*.apk
*.ap_
*.aab

/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml

.DS_Store?
._*
.Spotlight-V100
.Trashes
